[submodule "tests/test1/data/meshs"]
	path = tests/test1/data/meshs
	url = git://github.com/EEnginE/engineTestObjects.git
[submodule "cmake/cmakeBuildTools"]
	path = cmake/cmakeBuildTools
	url = https://github.com/mensinda/cmakeBuildTools
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
