# generate.sh config file
#
# SYNATAX:
#  - Comments: Start with a '#'
#  - Commands: <Command name>:<ARGS>

# PRO: Project name
PRO: engine

# L: Adds a library. The first arg is the lib and
#    idr name. The next arguments are dependences
L: utils;
L: init; utils
L: render; init utils

# T: Adds a test ( in tests dir )
T: oglTest
T: test1
T: benchmarks


# CM: Name of the generated Cmake files
CM: CMakeLists.txt

# CLA: Name of the clang autocomplete file
CLA: .clang_complete

# Platforms: Adds a new target platform  all Files
#            in the dir with the dir platform will
#            only be compiled  for this ülatform
P: windows
P: x11
P: mir
P: wayland

OS: UNIX; x11 mir wayland
OS: WIN32; windows

# T_DIR: Location of th tests
T_DIR: tests

# Main include file to generate
E_INC: engine.hpp

# Location of the tools
TOOLS_D: tools

LOG: i w e d
LOG_UNDEF: 1
LOG_PATH: utils/log/uMacros.hpp
